.search_actions {
    display: flex;
    justify-content: space-between;
    gap: 12px;

    .btns_block {
        display: flex;
        gap: 16px;
    }
}


.search_form {
    display: flex;
    gap: 8px;

    .field_block {
        flex: 0 0 217px;
        max-width: 217px;
    }
}

.search_btn {
    border: 1px solid rgba($textColor, 0.12);
    @extend %centerBlock;
    padding: 0;
    min-width: 44px;
    height: 40px;
    background: $siteColor;
    color: $mainBg;
    border-radius: 20px;
    @extend %lightHover;

    &:before {
        display: block;
        font-size: 1.6rem;
    }
}


.sort_label {
    display: flex;
    align-items: center;
    @include fontSize(12);
    font-weight: 700;
    gap: 4px;

    &:before {
        display: block;
    }
}

.cards_list {
    margin-top: 40px;
}

.cards_list {
    margin-top: 40px;

    .shadow_block {
        position: fixed;
        z-index: 5;
        pointer-events: none;
        height: 161px;
        right: 0;
        left: 85px;
        background: linear-gradient(180deg, rgba(27, 36, 49, 0) 0%, #1B2431 100%);
        opacity: 0;
        @include animStyle(opacity 0.15s);

        &.bottom_shadow {
            bottom: 0;
        }

        &.top_shadow {
            top: 71px;
            @extend %horizontalRotate;
        }

        &.showed {
            opacity: 1;
        }
    }
}

.check_list {
    @extend %standardList;
    margin-top: 40px;
    @include colCount(4);
    @include colGap(23px);


    li {
        margin-bottom: 8px;

        &.active {
            .check_btn {
                color: $white;
            }
        }
    }

    .check_btn {
        color: $textColor;
    }
}

.field_block.range_block {
    display: flex;
    align-items: center;
    background-color: unset;
    flex: unset;
    max-width: unset;
}

.range_label {
    color: rgba($white, 40%);
    @include fontSizeHeight(14, 20);
    white-space: nowrap;
    width: 63px;
}

input[type=range]:focus {
    background: transparent;
}

input[type=range] {
    -webkit-appearance: none;
    min-width: 153px;
    max-width: 153px;
    width: 153px;
    height: 4px;
    background: none;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    background: #23425A;
    border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: $siteColor;
    border: 2px solid $siteColor;
    margin-top: -10px;
}

input[type=range]::-moz-range-track {
    height: 4px;
    background: none;
    border-radius: 5px;
}

input[type=range]::-moz-range-thumb {
    height: 24px;
    width: 24px;
    background: none;
    border: 2px solid unset;
}

input[type=range]::-ms-track {
    height: 4px;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: none;
}

input[type=range]::-ms-fill-upper {
    background: none;
}

input[type=range]::-ms-thumb {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: none;
    border: 2px solid unset;
}

.card_details {
    @extend %standardList;
    @include fontSize(12);

    li {
        padding-top: 4px;
        word-break: break-word;
    }

    &:first-child {
        padding-top: 21px;
    }
}


.card_item {
    background: $coverBg;
    border: 1px solid $blue2;
    border-radius: 14px;
    padding: 20px;

    &:has(:checked) {
        border-color: $secondColor;
    }

    &:not(:first-child) {
        margin-top: 20px;
    }

    .img_card {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        > img {
            height: 78px;
            display: block;
            border-radius: 50%;
        }
    }


    .small_img {
        display: flex;
        align-items: center;
        margin-top: 10px;
        font-size: 12px;
        line-height: 15px;

        img {
            margin-right: 8px;
        }
    }

    .img_card {
        margin-right: 20px;
        width: 130px;
    }

    .card_body {
        display: flex;
        align-items: flex-start;
        position: relative;
        min-height: 100px;

        .dark_btn {
            position: absolute;
            bottom: 0;
            right: 0;
            @extend %opacityHover;

            &.block_user {
                background: $error;
                color: $white;
            }
        }
    }

    .card_main {
        margin-right: auto;
    }

    .card_title {
        color: $white;
        font-weight: 700;
    }


    .detail_label {
        font-weight: 700;
        word-break: normal;
        color: $textColor;
    }

    .start_end,
    .price_info {
        flex: 0 0 14.5%;
        max-width: 14.5%;
        margin-right: auto;
    }


    .check_info,
    .assign_info {
        margin-right: auto;
    }

    .check_info {
        padding-right: 30px;

        .detail_label {

            &:before {
                margin-top: 4px;
                font-size: 1.6rem;
                line-height: 20px;
                margin-right: 4px;
            }
        }
    }

    .price_size {
        @include fontSize(10);

        span {
            font-size: 200%;
            color: $secondColor;
            font-weight: 700;
        }
    }

    .calc_info {
        margin-top: 4px;
        @include fontSize(10);
    }

    .card_statuses {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-right: 0;
    }

    .status_block {
        @include fontSizeHeight(12, 15);
        font-weight: 700;
        color: $textColor;
        border-radius: 12px;
        padding: 2px 15px;
        display: flex;
        align-items: center;
        position: relative;

        &:last-child {
            color: $light;

            &:after {
                content: "|";
                position: absolute;
                left: -10px;
                color: $light;
            }
        }

        &:before {
            font-size: 2.4rem;
            margin-right: 8px;
            color: $light;
        }
    }

    .check_block {
        margin-top: 3px;
    }

    .card_footer {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }

    .messages_location {
        display: flex;
        align-items: center;
        gap: 8px;
        @include fontSize(12);
    }

    .message_count {
        color: $secondColor;
        text-decoration: underline;
    }

    a.message_count,
    button.message_count {
        @extend %lightHover;
    }

    button.message_count {
        @extend %linkTypeBtn;
    }

    .card_actions {
        display: flex;
        align-items: center;
        margin-left: auto;
        gap: 16px;
    }

}


body:has(.popup_block  .contractor_main) {
    .popup_body {
        .standard_btn {
            width: max-content;
            margin-left: auto;

            &.block_user {
                background: $error;
                color: $white;
            }
        }

        .block_note {
            margin-top: 24px;

            textarea {
                height: 113px;

            }

            .field_col {
                color: $white;
                font-weight: 700;
                gap: 16px;
                display: flex;
                flex-direction: column;
            }
        }

        .contractor_main {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 10px;
            padding-bottom: 20px;

            .user_position {
                color: $white;
            }

            .user_name {
                color: $white;
                font-weight: 700;
                margin-top: 2px;
            }

            .sign_info {
                font-weight: 275;
                @include fontSize(12);
                margin-top: 2px;
                opacity: 0.5;
            }

            .image_block {
                flex: 0 0 84px;
                max-width: 84px;
                aspect-ratio: 1;
                @extend %coverImage;

                img {
                    border-radius: 50%;
                }
            }
        }

        .block_label {
            flex: 0 0 120px;
            max-width: 120px;
            color: $white;
            font-weight: 700;
        }

        .contractor_info {
            flex: 1;

            a {
                display: inline-block;
                vertical-align: top;
                color: $light;
                text-decoration: underline;
                max-width: 100%;
                word-break: break-word;
                @extend %lightHover;
            }
        }

        .about_user {
            display: flex;
            gap: 20px;
            padding-bottom: 20px;

            .detail_label {
                display: flex;

                &:before {
                    margin-right: 5px;
                    margin-top: 2px;
                    font-size: 1.7rem;
                    line-height: 16px;
                }

                color: $B2;
            }
        }

        .profile_actions {
            padding-top: 20px;
            display: flex;
            justify-content: flex-end;
            gap: 16px;


            .standard_btn {
                margin-left: 0;
            }
        }

        .card_details {
            @include fontSizeHeight(14, 20);
            padding-top: 0;
        }

        .contractor_contacts {
            @extend %standardList;
            padding-bottom: 20px;

            li {
                display: flex;
                gap: 16px;

                &:not(:first-child) {
                    padding-top: 4px;
                }
            }

        }

    }

    .note_inner {
        display: flex;

        .contractor_info {
            color: $textColor;

            span {
                margin-left: 15px;
            }
        }
    }

    .line_blocks {
        border-top: 1px solid rgba($grayCf, 12%);
        padding-top: 20px;
        margin: 20px 0;

        .block_label {
            flex: 100%;
            max-width: 100%;
        }
    }

    .projects_list {
        padding: 0 0 0 30px;
        margin: 20px 0;

        li {
            margin-bottom: 15px;
        }
    }

    .type_list {
        @extend %standardList;
        display: flex;
        flex-wrap: wrap;
        margin: 20px -15px 0;

        li {
            padding: 0 15px;
            margin-bottom: 13px;
        }

        .block_type {
            background: $mainBg;
            border-radius: 20px;
            padding: 10px 20px;
            border: none;
            width: 100%;
            max-width: max-content;
            display: flex;
            color: rgba($blue04, 80%);
            @include fontSizeHeight(14, 20);

        }
    }

    .contractor_head {
        @extend %standardList;

        li {
            margin-bottom: 4px;
            display: flex;

            span:first-child {
                flex: 0 0 100px;
                max-width: 100px;
            }

            span:last-child {
                font-weight: 400;
                color: $blue04;
            }
        }
    }

}


@include mediaTo($size1280) {
    .search_actions {
        .btns_block {
            flex: 1;
            justify-content: flex-end;
        }

        .standard_btn {
            font-size: 0;
            justify-content: center;
            gap: 0;
            flex: 1;
            max-width: 120px;

            &:before {
                font-size: 1.6rem;
            }
        }
    }

    .card_item {
        .card_body {
            padding-top: 34px;
            position: relative;
        }

        .check_block {
            position: absolute;
            top: 0;
            right: 0;
        }

        .card_statuses {
            position: absolute;
            top: 0;
            right: 16px;
        }

        .card_actions {
            flex: 1;
            justify-content: flex-end;
        }

        .primary_btn {
            font-size: 0;
            justify-content: center;
            gap: 0;
            flex: 1;
            max-width: 120px;

            &:before {
                font-size: 1.6rem;
            }
        }
    }
}