
//media query sizes
$size400: 401px;
$size480: 481px;
$size576: 576px;
$size600: 601px;
$size640: 641px;
$size720: 721px;
$size768: 769px;
$size960: 1025px;
$size1200: 1201px;
$size1280: 1281px;
$size1366: 1366px;
$size1440: 1441px;
$size1600: 1601px;

//colors
$black: #000000;
$black33: #333333; 
$gray66: #666666;
$gray99: #999999;
$grayE5: #e5e5e5;
$grayCf: #CFCFCF1F;
$white: #ffffff;
$creamyF2:#f2f2f2;
$error: #800000;
$siteColor: #085C7D;
$blue04: #0484BB;
$blue23: #23425A4D;
$secondColor: #0484BB;
$textColor: #CFCFCF;
$success: #38C758;
$info: #388BC7;
$warning: #FFD99F;
$mainBg: #19252F;
$coverBg: #192833;
$light: #B4D4DD;
$lightTitle: #EAFBFE;
$fieldBg: #323D4E;
$blue2: #23425A;
$green: #00B69B;
$border: #D9D9D9;
$B1: #06BA98;
$B2: #B79A08;
$B3: #C46510;
//social icons original color
$facebookColor: #3b5998;
$twitterColor: #00acee;
$youtubeColor: #c4302b;
$behanceColor: #053eff;
$linkedinColor: #0e76a8;
$okColor: #ed812b;
$pinterestColor: #c8232c;
$vkColor: #4c75a3;
$tiktokColor: #EE1D52;
$telegramColor: #0088cc;
$instagramColor: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

//sizes
$container1920: 1600px;
$container1600: 1440px;
$container1440: 1200px;
$container1280: 1000px;
$colPadding1920: 16px;
$colPadding1600: 12px;
$colPadding1440: 10px;
$colPadding960: 8px;
$colPadding768: 6px;
$colPadding360: 4px;
$containerPadding: 15px;
$containerMobPadding: 15px;



