@include mediaTo($size960) {

    .payment_section {
        &.payment_section {
            .payment_list {
                margin-bottom: 40px;
            }

            &:not(.head_section) > .page_title {
                margin-bottom: 20px;
            }
        }

        .payment_list {
            margin: 40px -10px 40px;

            li {
                @include colSize(6);
                padding: 0 10px;
            }
        }
    }

    .tools_section .tools_list {
        margin: 40px -10px 0;

        li {
            @include colSize(6);
            padding: 0 10px;
        }
    }
}

@include mediaTo($size768) {
    .management_section,
    .manage_teams_section,
    .payment_section,
    .manage_section,
    .preferred_section {
        .head_section {
            flex-direction: column;
            align-items: baseline;
        }

        .standard_btn {
            margin-top: 20px;
        }

        .paging {
            display: block;
            margin-top: 25px;
        }
    }
    .tools_section .tools_list {
        li {
            @include colSize(12);
        }
    }

    .payment_section .payment_list {
        li {
            @include colSize(12);
        }
    }

    .management_section {
        margin-left: 0;
        margin-right: 0;
        display: block;
        width: 100%;

        tbody,
        tr {
            display: block;
            width: 100%;
            margin: 0;

        }

        thead {
            display: none;
        }

        tbody {
            td, th {
                display: flex;
                border: none;
                padding: 0 0 15px !important;
                margin-bottom: 15px;
                border-bottom: 1px solid $grayCf;
                text-align: right;
                width: auto !important;
                border-top: 0 !important;

                &:before {
                    display: block;
                    content: attr(data-th) ':';
                    color: $textColor;
                    text-align: left;
                    margin-right: auto;
                    padding-right: 10px;
                }

            }
        }
    }
}


@include mediaTo($size576) {
    body:has(.manage_teams_section) .checkbox_list {
        margin-top: 10px;
    }
    .popup_block:has(.status_day) .card_date {
        width: 100%;
    }


    .manage_section.manage_section.template_table .custom_table .row_block {
        margin: 0;
    }


    .manage_teams_section,
    .management_section,
    .payment_section,
    .manage_section,
    .preferred_section {

        .custom_table {
            thead th:last-child,
            tbody td:last-child {
                width: unset;
            }

            tbody td {
                border-top: 0;
            }


            .icon_delete,
            .icon_stars,
            .icon_pencil,
            button,
            a {
                padding: 0 0 0 15px;
            }
        }

        &.payment_section {
            .payment_list {
                margin-bottom: 20px;
            }
        }

        &.manage_section {
            .custom_table tbody {
                td:first-child {
                    width: 100%;
                }
            }
        }
    }
}