@import '../imports/main/variables';
@import '../imports/main/mixins';
@import '../imports/main/fonts';
@import '../imports/main/extendsStart';
@import '../imports/main/general';
@import '../imports/header/main';
@import '../imports/footer/main';

@import '../imports/home/main';

@import '../imports/main/extendsEnd';