@media screen and (max-width: 1024px) {
  .header .profile_btn {
    gap: 20px;
  }
  .header .profile_inner {
    padding: 20px 0;
    max-width: 100vw;
  }
  .header .profile_inner.opened {
    width: 480px;
  }
  .header .profile_head {
    width: 480px;
    padding: 0 20px 20px;
    max-width: 100vw;
  }
  .header .profile_content {
    width: 480px;
    padding-left: 20px;
    margin-right: 0;
    max-width: 100vw;
  }
  .header .about_user,
  .header .profile_contacts li {
    gap: 8px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding-left: 64px;
  }
  .sidebar {
    width: 0;
  }
  .sidebar_inner, .sidebar:before {
    width: 0;
  }
  .sidebar_menu a span, .sidebar_menu button span,
  .sidebar .logout_btn span {
    opacity: 1;
  }
  .menu_btn_block {
    width: 64px;
  }
}
@media screen and (max-width: 575px) {
  .sidebar:before {
    display: none;
  }
  .sidebar_inner {
    background: #19252F;
  }
  .sidebar.opened .sidebar_inner {
    width: 100vw;
  }
  body:has(.sidebar.opened) {
    overflow: hidden;
    background: #19252F;
  }
  .header {
    justify-content: space-between;
  }
  .header .welcome_block {
    display: none;
  }
  .header:before {
    display: block;
    content: "";
  }
}
@media screen and (max-width: 1024px) {
  .payment_section.payment_section .payment_list {
    margin-bottom: 40px;
  }
  .payment_section.payment_section:not(.head_section) > .page_title {
    margin-bottom: 20px;
  }
  .payment_section .payment_list {
    margin: 40px -10px 40px;
  }
  .payment_section .payment_list li {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10px;
  }
  .tools_section .tools_list {
    margin: 40px -10px 0;
  }
  .tools_section .tools_list li {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10px;
  }
}
@media screen and (max-width: 768px) {
  .management_section .head_section,
  .manage_teams_section .head_section,
  .payment_section .head_section,
  .manage_section .head_section,
  .preferred_section .head_section {
    flex-direction: column;
    align-items: baseline;
  }
  .management_section .standard_btn,
  .manage_teams_section .standard_btn,
  .payment_section .standard_btn,
  .manage_section .standard_btn,
  .preferred_section .standard_btn {
    margin-top: 20px;
  }
  .management_section .paging,
  .manage_teams_section .paging,
  .payment_section .paging,
  .manage_section .paging,
  .preferred_section .paging {
    display: block;
    margin-top: 25px;
  }
  .tools_section .tools_list li {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .payment_section .payment_list li {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .management_section {
    margin-left: 0;
    margin-right: 0;
    display: block;
    width: 100%;
  }
  .management_section tbody,
  .management_section tr {
    display: block;
    width: 100%;
    margin: 0;
  }
  .management_section thead {
    display: none;
  }
  .management_section tbody td, .management_section tbody th {
    display: flex;
    border: none;
    padding: 0 0 15px !important;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(207, 207, 207, 0.1215686275);
    text-align: right;
    width: auto !important;
    border-top: 0 !important;
  }
  .management_section tbody td:before, .management_section tbody th:before {
    display: block;
    content: attr(data-th) ":";
    color: #CFCFCF;
    text-align: left;
    margin-right: auto;
    padding-right: 10px;
  }
}
@media screen and (max-width: 575px) {
  body:has(.manage_teams_section) .checkbox_list {
    margin-top: 10px;
  }
  .popup_block:has(.status_day) .card_date {
    width: 100%;
  }
  .manage_section.manage_section.template_table .custom_table .row_block {
    margin: 0;
  }
  .manage_teams_section .custom_table thead th:last-child,
  .manage_teams_section .custom_table tbody td:last-child,
  .management_section .custom_table thead th:last-child,
  .management_section .custom_table tbody td:last-child,
  .payment_section .custom_table thead th:last-child,
  .payment_section .custom_table tbody td:last-child,
  .manage_section .custom_table thead th:last-child,
  .manage_section .custom_table tbody td:last-child,
  .preferred_section .custom_table thead th:last-child,
  .preferred_section .custom_table tbody td:last-child {
    width: unset;
  }
  .manage_teams_section .custom_table tbody td,
  .management_section .custom_table tbody td,
  .payment_section .custom_table tbody td,
  .manage_section .custom_table tbody td,
  .preferred_section .custom_table tbody td {
    border-top: 0;
  }
  .manage_teams_section .custom_table .icon_delete,
  .manage_teams_section .custom_table .icon_stars,
  .manage_teams_section .custom_table .icon_pencil,
  .manage_teams_section .custom_table button,
  .manage_teams_section .custom_table a,
  .management_section .custom_table .icon_delete,
  .management_section .custom_table .icon_stars,
  .management_section .custom_table .icon_pencil,
  .management_section .custom_table button,
  .management_section .custom_table a,
  .payment_section .custom_table .icon_delete,
  .payment_section .custom_table .icon_stars,
  .payment_section .custom_table .icon_pencil,
  .payment_section .custom_table button,
  .payment_section .custom_table a,
  .manage_section .custom_table .icon_delete,
  .manage_section .custom_table .icon_stars,
  .manage_section .custom_table .icon_pencil,
  .manage_section .custom_table button,
  .manage_section .custom_table a,
  .preferred_section .custom_table .icon_delete,
  .preferred_section .custom_table .icon_stars,
  .preferred_section .custom_table .icon_pencil,
  .preferred_section .custom_table button,
  .preferred_section .custom_table a {
    padding: 0 0 0 15px;
  }
  .manage_teams_section.payment_section .payment_list,
  .management_section.payment_section .payment_list,
  .payment_section.payment_section .payment_list,
  .manage_section.payment_section .payment_list,
  .preferred_section.payment_section .payment_list {
    margin-bottom: 20px;
  }
  .manage_teams_section.manage_section .custom_table tbody td:first-child,
  .management_section.manage_section .custom_table tbody td:first-child,
  .payment_section.manage_section .custom_table tbody td:first-child,
  .manage_section.manage_section .custom_table tbody td:first-child,
  .preferred_section.manage_section .custom_table tbody td:first-child {
    width: 100%;
  }
}

/*# sourceMappingURL=smallpages-m.css.map */
